body {
  font-family: Futura;
  margin: 0px;
  /*background-color: #fff6d5;
  color: #ff8080;*/
  background-color: #ff8080;
  color: #fff6d5;
}

img {
  width: 300;
}

@media screen and (max-width: 600px) {
  img {
    width: 100;
  }
}

h2 {
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .row {
    display: block;
  }
}

.title {
  font-size: 52px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: .3em;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}

.row-item {
  flex: 1;
}



.nav {
  display: flex;
  justify-content: center;
  font-size: 18px;
  /*margin-top: -60px;*/
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .nav {
    font-size: 14px;
    margin-top: 0px;
  }
}

a {
  padding: 5px 40px;
  text-decoration: none;
  /*color: #ff8080;*/
  color: #fff6d5;
}

@media screen and (max-width: 600px) {
  .nav > a {
    padding: 10px;
  }
}

.active {
  /*border-bottom: 2px dotted #ff8080;*/
  border-bottom: 2px dotted #fff6d5;
}

.container {
  padding: 40px 250px;
  font-family: PT Sans Narrow, Verana;
  font-size: 20px;
  /*background-color: #ff8080;
  color: #fff6d5;*/
  background-color: #fff6d5;
  color: #ff8080;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px 40px;
  }
}

.katie {
  text-align: center;
}